@import "tailwindcss";

@font-face {
  font-family: 'PP-Mori';
  src: url('./fonts/ppmori.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP-Mori-italic';
  src: url('./fonts/ppmori-italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "PP-Mori", sans-serif;
  --font-display: "PP-Mori-italic", sans-serif;
}